/*_____________________FOOTER___________________________*/

footer {
  background-color: $footer-hero-color;
  height: 132px;
  padding: 60px 0px;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.footer ul {
  margin-top: 20px;
  margin-right: 70px;
  flex-direction: column;
}

.footer li {
  margin: 0px 0px 10px;
}

.logo {
  color: $accent-color;
  font-family: Raleway;
  font-size: 26px;
  font-weight: $main-weight;
  letter-spacing: 0.78px;
  line-height: 1.19;
  margin-right: 93px;
  display: flex;
}

footer .logo span {
  color: $main-title-color;
}

footer .contacts a {
  color: $contact-color;
}

.enjoy,
.subscribe {
  display: inline-flexbox;
  text-transform: uppercase;
  margin-top: 10px;
}

.enjoy p,
.subscribe p {
  margin: 0px;
  font-weight: $main-weight;
  font-size: $h4-size;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.enjoy li {
  display: inline;
}

.enjoy ul {
  margin-right: 93px;
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.button-footer a:hover,
.button-footer a:focus {
  border-radius: 50%;
  background-color: $accent-color;
  color: $main-title-color;
  transition: 250ms $timing-function;
}

.button-footer a {
  width: 44px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $main-title-color;
  background-color: $social-link-footer-background;
  border-radius: 50%;
}

.button-footer li {
  margin-right: 6px;
}

.button-footer li:last-child {
  margin-right: 0px;
}

.address,
.enjoy p,
.subscribe p {
  color: $main-title-color;
}

.subscribe input {
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid $footer-subscribe;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px ($box-shadow));
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 0px 0px 0px 16px;
}

.subscribe input::-webkit-input-placeholder {
  color: $contact-color;
  font-family: Roboto;
  font-size: $h3-size;
  font-style: normal;
  font-weight: $normal-weight;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
}

.subscribe button {
  width: 200px;
  height: 50px;
  background: $accent-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px $box-shadow;
  border: 0px;
  color: $main-title-color;
  font-family: Roboto;
  font-size: $h3-size;
  font-style: normal;
  font-weight: $main-weight;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.send {
  padding-left: 4px;
  vertical-align: middle;
}

.psection {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 100px;
}
