/*_____________________HEADER___________________________*/

.logo {
  color: $accent-color;
  font-family: Raleway;
  font-size: 26px;
  font-weight: $main-weight;
  letter-spacing: 0.78px;
  line-height: 1.19;
  margin-right: 93px;
  display: flex;
}

.logo span {
  color: $studio-color;
}

.nav-list a {
  color: $main-text-color;
  font-size: $h4-size;
  font-weight: $middle-weight;
  letter-spacing: 0.28px;
  padding: 10px 0px 32px;
}

.nav-list a:hover,
.nav-list a:focus {
  color: $accent-color;
  transition: 250ms $timing-function;
}

.nav-list a.current {
  color: $accent-color;
}

.nav-list li {
  margin-right: 50px;
  position: relative;
}

.nav-list li:last-child,
.contacts li:last-child {
  margin-right: 0px;
}

.nav-list ul {
  display: flex;
  padding: 0%;
  margin-right: 305px;
}

.phone-icon {
  padding-top: 1px;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.mail-icon {
  padding-top: 3px;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contact-icon {
  fill: currentColor;
  vertical-align: middle;
  display: inline-flex;
}

.contacts a:hover,
.contacts a:focus,
.contact-icon:hover,
.contact-icon:focus {
  color: $accent-color;
  text-shadow: 0px 4px 4px $text-shadow;
  transition: 250ms $timing-function;
}

.nav-list .current::after {
  position: absolute;
  bottom: -31px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}

.contacts a {
  color: $text-color;
  font-size: $h4-size;
  font-weight: $middle-weight;
  letter-spacing: 0.28px;
}

.contacts {
  display: inline-flex;
}

.contacts li {
  margin-right: 30px;
}

.contacts ul {
  display: flex;
  padding: 0%;
}

.mailshadow {
  text-shadow: 0px 4px 4px $text-shadow;
}

.header {
  height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid $border-bottom-color;
}
