.pbutton {
  font-family: Roboto;
  font-style: normal;
  font-size: $h3-size;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0px;
}

.pbutton {
  background-color: $background-color2;
  color: $main-text-color;
  padding: 9.7px 22px;
  margin-right: 8px;
  font-weight: $middle-weight;
  line-height: 38px;
}

.pbutton:hover,
.pbutton:focus {
  color: $main-title-color;
  background-color: $accent-color;
  filter: drop-shadow(0px 1px 1px $box-shadow);
  filter: drop-shadow(0px 2px 1px $backdrop_background);
  filter: drop-shadow(0px 3px 1px $text-shadow);
  transition: 250ms $timing-function;
}
